@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>4Cows</PageTitle>
<MudThemeProvider IsDarkMode="@_isDarkMode" Theme="CustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <CascadingValue Value="@_isDarkMode" Name="IsDarkMode"/>
    <MudAppBar Elevation="3" Color="Color.Primary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                             Icon="@Icons.Material.Filled.LightMode" Color="@Color.Default" Title="LightMode"
                             ToggledIcon="@Icons.Material.Filled.DarkMode" ToggledColor="@Color.Default" ToggledTitle="DarkMode" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Variant="@DrawerVariant.Temporary" Elevation="3">
        <MudDrawerHeader>
            <div style="display: flex; align-items: center;">
                <img src="/logo.png" style="width: 30%; aspect-ratio: 1 / 1;" />
                <MudText Typo="Typo.h5" Style="text-align: center;"><b>4Cows</b></MudText>
            </div>
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Icon="@Icons.Material.Filled.SpaceDashboard" IconColor="Color.Primary" Href="" Match="NavLinkMatch.All">Dashboard</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.BackupTable" IconColor="Color.Primary" Href="Kuh_Daten" Match="NavLinkMatch.Prefix">Kuh Behandlungen</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Construction" IconColor="Color.Primary" Href="geplante_Kuh_Daten" Match="NavLinkMatch.Prefix">geplante Kuh Behandlungen</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Healing" IconColor="Color.Primary" Href="Verband_Daten" Match="NavLinkMatch.Prefix">Verbände</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Pets" IconColor="Color.Primary" Href="Klauen_Daten" Match="NavLinkMatch.Prefix">Klauen Behandlungen</MudNavLink>
            <MudNavLink Icon="@Icons.Material.Filled.Plumbing" IconColor="Color.Primary" Href="geplante_Klauen_Daten" Match="NavLinkMatch.Prefix">geplante Klauen Behandlungen</MudNavLink>



        </MudNavMenu>
    </MudDrawer>
    <MudMainContent >
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>


@code {
bool open = false;
private MudTheme _theme = new();
public bool _isDarkMode { get; set; } = false;
public TimeSpan _startSpan = new TimeSpan(7, 0, 0);
public TimeSpan _endSpan = new TimeSpan(19, 0, 0);


void ToggleDrawer()
{
open = !open;
}
protected override void OnInitialized()
{
base.OnInitialized();
DarkSwitch();
}

void DarkSwitch()
{
if (DateTime.Now.TimeOfDay > _endSpan)
{
_isDarkMode = true;
}
else
{
_isDarkMode = false;
}
}

MudTheme CustomTheme = new()
{
PaletteLight = new PaletteLight()
{
Primary = "#60ADC9",
TextPrimary = "#404040",
TextSecondary = "#EEBE88",
Success = "#00C853",
SuccessLighten = "#E3F0CC",
Warning = "#DC8F00",
WarningLighten = "#FFDD9E",
Error = "#E00F03",
ErrorLighten = "#FAB7B7",
TableHover = "#E8E8E8",
GrayLight = "#D1D1D1",
GrayDark = "#8C8C8C",
White = "#FFFFFF",
PrimaryLighten = "#acc1c8",
Secondary = "#8DC2B0",
Tertiary = "#619B98"
},
PaletteDark = new PaletteDark()
{
Primary = "#60ADC9",
TextPrimary = "#ffffff",
TextSecondary = "#FFFFFF",
Success = "#00C853",
SuccessLighten = "#E3F0CC",
Warning = "#DC8F00",
WarningLighten = "#FFDD9E",
Error = "#E00F03",
ErrorLighten = "#FAB7B7",
TableHover = "#53545e",
GrayLight = "#82838d",
GrayDark = "#FFFFFF",
White = "#FFFFFF",
PrimaryLighten = "#FFD2AD",
Surface = "#393A46",
Secondary = "#8DC2B0",
AppbarBackground = "#60ADC9",
Tertiary = "619B98"
},
Typography = new Typography()
{
Button = new Button()
{
TextTransform = "none",
}
},

};
}